html{
    font-size: 20px;
}
body{
    margin: 0;
}
.header{
    font-size: 2.4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0;
}
.header-strong{
    color: #3E45E8;
}
.header-ukraine{
    color: #E8C23E;
}
.banner{
    height: 766px;
    width: 100%,100%;
    background-image: url(../image/prapor.jpg),url(../image/bg.jpg);
    background-repeat: no-repeat;
    background-position: 80px 240px,0 0;
    box-sizing: border-box;

}
.banner-text{
    color: #fff;
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 75.504px;
    padding-top: 226px;
    padding-left: 141px;

}
.subtitle{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 62.92px;
    padding-left: 80px;
    padding-top: 5px;




}
.subtitle-img{
   padding-left: 0;
   margin-top: -54px;


}
.card{
    display: inline-block;
    width: 388px;
    border: 5px solid #0D095F;
    vertical-align: top;
    border-radius: 28px;
    box-sizing: border-box;
}
.m-l-r{
    margin-left:87px ;
    margin-right:87px ;
}
.card>img{
    width: 100%;
}
.card-text{
    color: #0072DB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.88rem ;

}
.card-diskr{
    color: #F90;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.57rem;
    padding-top: 10px;
    box-sizing: border-box;


}
.subtitle2{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.15rem;
    text-align: center;
    padding-top: 10px;

} 
.subtitle2-img{
    text-align: center;
    margin-top: -46px;
    margin-bottom: 32px;
    padding-top: 15px;

}
.map{
    text-align: center;
    padding-top: 0;
}
.bottom{
    display: inline-block;
    width: 499px;
    height: 81px;
    border: 1px solid transparent;
    text-align: center;
    background-color: #2A61F0;
    border-radius: 50px;

}
.bottom-text{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 100.672px;
  
    margin-top: -8px;
    

}
a{
    text-decoration: none;
    color: #FFF;
}

.contakt{
    font-size: 2.4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
   padding-top: 33px;
   height: 233px;
   width: 1440px;
   background-image: url(../image/Rectangle\ 7\ \(1\).jpg);
   margin-top: 36px;
   

}
.post{
    color: #A89D9D;
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: normal;
letter-spacing: 3.6px;
padding-top: 10px;
margin-top: -15px;

}

 